<md-toolbar class="searchPanel md-raised" flex layout="row" layout-align="space-between center" id="gura">
    <h1>Cookies Policy
    </h1>
    
    <md-button ng-click="przejdzDoNormalnie('home')">
        home
    </md-button>
    
</md-toolbar>

<section layout="column" class="sekcja" layout-align="center center">
<p>Last updated: 2019-01-01.</p>

<p>
The cookies we use on our website do not store personally identifiable information nor can they harm your computer. We want our website to be as user friendly as possible and cookies help us to achieve that goal.
</p><p>
By using our website, you agree to the use of cookies. If you do not agree to such use, please refrain from using the website.
</p><p>
We may change this policy from time to time. Changes to our policy will be updated on our website only. You should check our cookie policy from time to time to ensure that you are happy with any modifications.
</p>
<h3>What are Cookies?</h3>
<p>
A cookie is a small file sent from a website and stored on user's computer. It holds a certain data which can be accessed by web server.
</p>
<h3>How do We Use Cookies?</h3>
<!--<p>
Currently We use only two cookies:
</p>
<ol>
<li>One session cookie which contains only server session identifier. This cookie helps to keep users logged in during the use of our website,</li>
<li>One persistent cookie which is created only during the signing in with Discogs proccess.This cookie expires after one hour.</li>
</ol>-->
<p>
Currently We use only one session cookie which contains only server session identifier. This cookie helps to keep users logged in during the use of our website.
</p>

<p>It is important to clarify that our cookies do not collect any personal data stored on your hard drive or computer.
However we also use Discogs' API to sign the user in and to provide all the data, so please read Discogs' cookies policy to ensure that you’re comfortable with the manner in which they use cookies. In addition to cookies mentioned above, we may also use third party cookies (eg. Google AdSense) to deliver advertisements.</p>

<h3>How to Control and Delete Cookies?</h3>
<p>
BlendWax will not use cookies to collect personally identifiable information about you. However, should you choose to disable, reject or block our cookies, our websites will not function fully, or in some cases, our website will not be accessible at all.
</p><p>

For more information on how to control your cookie settings and browser settings, or how to delete cookies on your hard drive, please visit www.allaboutcookies.org.
    
</section>