<div id="gura">
<md-toolbar class="searchPanel md-raised toolbarFixed toolbarPrawyPadding" flex layout="row" layout-align="space-between center">
    <h1 class="headerOtwarty" ng-class="{'headerZamkniety':szukajkaOtwarta}">My records <span ng-if="lista.albumy">([[lista.ile]])</span>
                <md-button hide show-gt-xs ng-click="przejdzDoNormalnie('import')" class="md-fab md-mini md-accent md-hue-3">
                    <md-tooltip md-delay="100">Import from Discogs</md-tooltip>    
                    <md-icon md-colors="::{ color: 'primary-50' }" aria-label="..." class="material-icons">playlist_add</md-icon>
                </md-button>
    </h1>

    <div layout="row" layout-align="end end">
        
        <div class="paginacja">
            <md-button class="md-icon-button margin0" ng-if="lista.strona > 1" ng-click="przejdzDoStrony(+(lista.strona) - (1))">
                <md-tooltip md-delay="100">previous page</md-tooltip>
                <md-icon md-colors="::{ color: 'primary-50' }" aria-label="previous page" class="material-icons">keyboard_arrow_left</md-icon>
            </md-button><md-input-container ng-if="lista.strony > 1" class="inputKontener">
                <md-select ng-model="lista.strona" aria-label="Page">
                    <md-option ng-repeat="str in strony" ng-value="str" ng-click="przejdzDoStrony(str)">
                        p. [[str]]/[[lista.strony]]
                    </md-option>
                </md-select>
            </md-input-container><md-button class="md-icon-button margin0" ng-if="lista.strony > 1 && lista.strona < lista.strony" ng-click="przejdzDoStrony(+(lista.strona) + (1))">
                <md-tooltip md-delay="100">next page</md-tooltip>
                <md-icon md-colors="::{ color: 'primary-50' }" aria-label="next page" class="material-icons">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        
        <form ng-submit="poszukej()">
        <md-button type="submit" aria-label="search" class="md-icon-button margin0" ng-if="duze || szukajkaOtwarta">
            <md-icon md-colors="::{ color: 'primary-50' }" class="material-icons">search</md-icon>
        </md-button><md-input-container class="inputKontener szukajka paddingLR0" ng-class="{'szukajkaOtwarta':szukajkaOtwarta}">
            <label md-colors="::{ color: 'primary-50' }" class="paddingLR0">search</label>
            <input md-colors="::{ color: 'primary-50' }" class="paddingLR0" type="text" ng-model="szukejInput"/>
        </md-input-container><md-button ng-click="zamknijSzukajke()" aria-label="search" class="md-icon-button closeSearchBtn" ng-class="{'closeSearchBtnOtwarty':szukajkaOtwarta}">
            <md-icon md-colors="::{ color: 'primary-50' }" class="material-icons ">close</md-icon>
        </md-button>
        </form>
        


        <md-menu md-position-mode="target-right target">
          <md-button aria-label="menu" class="md-icon-button margin0" ng-click="$mdMenu.open($event)">
            <md-icon aria-label="..." class="material-icons">more_vert</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-class="{'md-primary':kSort!='title' && kSort!='label'}" ng-click="ustawSortowanie('cokolwiek')"> <span md-menu-align-target>sort by artist</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':kSort=='title'}" ng-click="ustawSortowanie('title')"> <span md-menu-align-target>sort by title</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':kSort=='label'}" ng-click="ustawSortowanie('label')"> <span md-menu-align-target>sort by label</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':kDesc}" ng-click="toggleDesc()"> <span md-menu-align-target>descending</span></md-button>
            </md-menu-item>
            <md-menu-item hide-gt-xs>
                <md-button  ng-click="przejdzDoNormalnie('import')">
                    <span md-menu-align-target>import/update from discogs</span>
                </md-button>
            </md-menu-item>
            <md-menu-item hide-gt-xs>
                <md-button  ng-click="poszukej()">
                    <span md-menu-align-target>search</span>
                </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </div>        

    
    <md-progress-linear md-mode="indeterminate" ng-show="loaderDanych" class="loaderWtoolbarze md-accent md-hue-3"></md-progress-linear>
</md-toolbar>

<div layout="row" layout-wrap flex>
    
    
    <div ng-if="lista.albumy" ng-repeat="album in lista.albumy track by album.id" flex="100" flex-gt-sm="50" flex-gt-lg="33" layout-padding>
        <md-card layout="row" layout-align="space-between" flex="100" layout-fill class="kartaMojaKolekcja">
            
            <md-card-title-media>
                <div class="md-media-sm card-media obrazekPlytyResponsive" style="background: url('gfx/[[album.discogs_id]].jpg') no-repeat 0% 0% / cover, url('gfx/record.png') no-repeat 0% 0% / cover;margin: -8px;"></div>
            </md-card-title-media>  
            
            <md-card-title layout="column" class="cardTitleMyCollection">
                <md-card-title-text>
                    <span class="md-headline">[[album.artysta]]</span>
                    <span class="md-subhead">[[album.tytul]]</span>
                    <span class="md-subhead">[[album.label]], [[album.nr_kat]], [[album.rok]]</span>
                </md-card-title-text>
                
                    <md-card-actions layout="row" layout-align="end center" class="margin0">
                        <md-button class="md-icon-button" ng-click="przejdzDoNormalnie('release/'+[[album.id]])">
                            <md-tooltip md-delay="100">album details</md-tooltip>
                            <md-icon aria-label="..." class="material-icons">info</md-icon>
                        </md-button>
                        <md-button class="md-icon-button margin0 no-animate" ng-click="usunAlbum($event,album.id)">
                            <md-tooltip md-delay="100">remove from collection</md-tooltip>
                            <md-icon ng-hide="album.loader" aria-label="..." class="material-icons">delete</md-icon>
                            <md-progress-circular ng-show="album.loader" md-diameter="24"></md-progress-circular>
                        </md-button>
                        <!--<md-button ng-click="przejdzDoNormalnie('release/'+[[album.id]])">details</md-button>
                        <md-button>delete</md-button>-->
                    </md-card-actions>

            </md-card-title>

        </md-card>
    </div>
    
<!--<adsense-directive
			ad-client="YOUR_CLIENT_ID"
			ad-slot="YOUR_SLOT_ID" 
			ad-format="auto"
			css-style="display:inline-block;width:320px;height:50px;">
</adsense-directive>-->
    
    <md-card ng-if="!loaderDanych && !lista.albumy" flex="100">
        <md-card-title layout="column">
            <md-card-title-text>
                <span class="md-headline">Your collection is empty</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    
</div>
</div><!--zeby ng-view moglo miec min-width:100vh i nie rozciagalo przy layout=column wzdluz-->