<div id="gura">
<md-toolbar class="searchPanel md-raised toolbarFixed toolbarPrawyPadding" flex layout="row" layout-align="space-between center">
    <h1 class="headerOtwarty" ng-class="{'headerZamkniety':szukajkaOtwarta}">My blends <span ng-if="lista.blendy">([[lista.ile]])</span>
                <md-button hide show-gt-xs ng-click="przejdzDoNormalnie('blend/new')" class="md-fab md-mini md-accent md-hue-3 no-animate">
                    <md-tooltip md-delay="500">Add new blend</md-tooltip>    
                    <md-icon md-colors="::{ color: 'primary-50' }" aria-label="..." class="material-icons">add</md-icon>
                </md-button>
    </h1>
    
    <div layout="row" layout-align="end end">
        
        <div class="paginacja">
            <md-button class="md-icon-button margin0" ng-if="lista.strona > 1" ng-click="przejdzDoStrony(+(lista.strona) - (1))">
                <md-tooltip md-delay="100">previous page</md-tooltip>
                <md-icon md-colors="::{ color: 'primary-50' }" aria-label="previous page" class="material-icons">keyboard_arrow_left</md-icon>
            </md-button><md-input-container ng-if="lista.strony > 1" class="inputKontener">
                <md-select ng-model="lista.strona" aria-label="Page">
                    <md-option ng-repeat="str in strony" ng-value="str" ng-click="przejdzDoStrony(str)">
                        p. [[str]]/[[lista.strony]]
                    </md-option>
                </md-select>
            </md-input-container><md-button class="md-icon-button margin0" ng-if="lista.strony > 1 && lista.strona < lista.strony" ng-click="przejdzDoStrony(+(lista.strona) + (1))">
                <md-tooltip md-delay="100">next page</md-tooltip>
                <md-icon md-colors="::{ color: 'primary-50' }" aria-label="next page" class="material-icons">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
        
        <form ng-submit="poszukej()">
        <md-button type="submit" aria-label="search" class="md-icon-button margin0" ng-if="duze || szukajkaOtwarta">
            <md-icon md-colors="::{ color: 'primary-50' }" class="material-icons">search</md-icon>
        </md-button><md-input-container class="inputKontener szukajka paddingLR0" ng-class="{'szukajkaOtwarta':szukajkaOtwarta}">
            <label md-colors="::{ color: 'primary-50' }" class="paddingLR0">search</label>
            <input md-colors="::{ color: 'primary-50' }" class="paddingLR0" type="text" ng-model="szukejInput"/>
        </md-input-container><md-button ng-click="zamknijSzukajke()" aria-label="search" class="md-icon-button closeSearchBtn" ng-class="{'closeSearchBtnOtwarty':szukajkaOtwarta}">
            <md-icon md-colors="::{ color: 'primary-50' }" class="material-icons ">close</md-icon>
        </md-button>
        </form>
        


        <md-menu md-position-mode="target-right target">
          <md-button aria-label="menu" class="md-icon-button margin0" ng-click="$mdMenu.open($event)">
            <md-icon aria-label="..." class="material-icons">more_vert</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bSort=='artysta1'}" ng-click="ustawSortowanie('artysta1')"> <span md-menu-align-target>sort by 1st track artist</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bSort=='album1'}" ng-click="ustawSortowanie('album1')"> <span md-menu-align-target>sort by 1st track album title</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bSort=='piosenka1'}" ng-click="ustawSortowanie('piosenka1')"> <span md-menu-align-target>sort by 1st track title</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bSort=='artysta2'}" ng-click="ustawSortowanie('artysta2')"> <span md-menu-align-target>sort by 2nd track artist</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bSort=='album2'}" ng-click="ustawSortowanie('album2')"> <span md-menu-align-target>sort by 2nd track album title</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bSort=='piosenka2'}" ng-click="ustawSortowanie('piosenka2')"> <span md-menu-align-target>sort by 2nd track title</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-class="{'md-primary':bDesc}" ng-click="toggleDesc()"> <span md-menu-align-target>descending</span></md-button>
            </md-menu-item>
            <md-menu-item hide-gt-xs>
                <md-button  ng-click="przejdzDoNormalnie('blend/new')">
                    <span md-menu-align-target>add new blend</span>
                </md-button>
            </md-menu-item>
            <md-menu-item hide-gt-xs>
                <md-button  ng-click="poszukej()">
                    <span md-menu-align-target>search</span>
                </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </div> 
    
    <md-progress-linear md-mode="indeterminate" ng-show="loaderDanych" class="loaderWtoolbarze md-accent md-hue-3"></md-progress-linear>
</md-toolbar>
<div layout="row" layout-wrap flex><!-- class="gtMd-2-ltMd-1" -->
    

    <md-card  layout="column" layout-align="space-between" flex="100" layout-wrap ng-if="lista.blendy">
        
        <md-list>
    
    <!--<md-subheader class="md-no-sticky">Secondary Buttons</md-subheader>-->
            <md-list-item class="secondary-button-padding" ng-click="przejdzDoNormalnie('blend/'+[[blend.id]])" ng-repeat="blend in lista.blendy track by blend.id">
                <md-divider ng-if="!$last"></md-divider>
                <div layout="row" layout-gt-xs="row" layout-padding layout-wrap layout-align="space-between" flex="100">
                
                    <div layout="column" flex="100" flex-gt-xs="40" layout-align="center center">
                                    <span class="md-title centeredText">[[blend.artysta1]]</span>
                                    <span class="md-subhead centeredText">[[blend.album1]]</span>
                                    <span class="md-subhead centeredText">[[blend.pozycja1]] - [[blend.piosenka1]]</span>
                    </div>
                    
                    <div flex="100" flex-gt-xs="10" layout="row" layout-align="center center" class="historiaButton" ng-click="przejdzDoNormalnie('blend/'+[[blend.id]])">
                        <!--[[blend.opis]]-->
                            <md-icon hide show-gt-xs aria-label="..." class="material-icons">arrow_forward</md-icon>
                            <md-icon hide-gt-xs aria-label="..." class="material-icons">arrow_downward</md-icon>
                            <div ng-if="blend.opis!=''" class="historia">
                                [[ blend.opis ]]
                            </div>
                    </div>
                                    
                    <div layout="column" flex="100" flex-gt-xs="40" layout-align="center center">
                                    <span class="md-title centeredText">[[blend.artysta2]]</span>
                                    <span class="md-subhead centeredText">[[blend.album2]]</span>
                                    <span class="md-subhead centeredText">[[blend.pozycja2]] - [[blend.piosenka2]]</span>
                    </div>
                    
                    <div layout="row" layout-gt-xs="column" flex="100" flex-gt-xs="10" layout-align="end end">
                        <md-button class="md-icon-button margin0" ng-click="przejdzDoNormalnie('blend/'+[[blend.id]])">
                            <md-tooltip md-delay="100">edit blend</md-tooltip>
                            <md-icon aria-label="..." class="material-icons">edit</md-icon>
                        </md-button>

                        <md-button ng-if="blend.publiczny=='1'" class="md-icon-button margin0 no-animate" ng-click="togglePubliczny($event,blend.id)">
                            <md-tooltip md-delay="100">turn off visibility for other users</md-tooltip>
                            <md-icon ng-hide="blend.loaderPubl" aria-label="..." class="material-icons">visibility</md-icon>
                            <md-progress-circular ng-show="blend.loaderPubl" md-diameter="24"></md-progress-circular>
                        </md-button>
                        
                        <md-button ng-if="blend.publiczny=='0'" class="md-icon-button margin0 no-animate" ng-click="togglePubliczny($event,blend.id)">
                            <md-tooltip md-delay="100">make this blend visible for other users</md-tooltip>
                            <md-icon ng-hide="blend.loaderPubl" aria-label="..." class="material-icons">visibility_off</md-icon>
                            <md-progress-circular ng-show="blend.loaderPubl" md-diameter="24"></md-progress-circular>
                        </md-button>
                        
                        <md-button class="md-icon-button margin0 no-animate" ng-click="usunBlend($event,blend.id)">
                            <md-tooltip md-delay="100">remove</md-tooltip>
                            <md-icon ng-hide="blend.loader" aria-label="..." class="material-icons">delete</md-icon>
                            <md-progress-circular ng-show="blend.loader" md-diameter="24"></md-progress-circular>
                        </md-button>

                    </div>
                    
                </div>


    <!--<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>-->
            </md-list-item>
  
        </md-list>

    </md-card>

    <md-card ng-if="!loaderDanych && !lista.blendy" flex="100">
        <md-card-title layout="column">
            <md-card-title-text>
                <span class="md-headline">Your blend list is empty</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    
    
</div>
</div><!--zeby ng-view moglo miec min-width:100vh i nie rozciagalo przy layout=column wzdluz-->