<md-toolbar class="searchPanel md-raised" flex layout="row" layout-align="space-between center" id="gura">
    <h1>Privacy Policy
    </h1>
    
    <md-button ng-click="przejdzDoNormalnie('home')">
        home
    </md-button>
    
</md-toolbar>

<section layout="column" class="sekcja" layout-align="center center">
<p>Last updated: 2019-01-01.</p>

<p>
BlendWax​ ("us", "we", or "our") operates http://www.blendwax.com​ (the
"Site"). This page informs you of our policies regarding the collection, use and disclosure of
Personal Information we receive from users of the Site.
</p>
<p>
We use your Personal Information only for providing and improving the Site. By using the Site, you
agree to the collection and use of information in accordance with this policy.
</p>
<h3>Information Collection And Use</h3>
<p>
We collect Discogs' usernames and collections of releases with artists and trakclists. We do not collect or use any other personal information. However, if you want to contact us we can ask you to provide us your e-mail address that can be used to reply to you.
</p>
<h3>Log Data</h3>
<p>
We do not collect any information that your browser sends whenever you visit our Site. However, we may use third party services such as Google Analytics or Google AdSense that collect, monitor and analyze data sended by your browser.
</p>
<h3>Cookies</h3>
<p>
Cookies are files with small amount of data, which may include an anonymous unique identifier.
Cookies are sent to your browser from a web site and stored on your computer's hard drive.
Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
</p>
<h3>Security</h3>
<p>
The security of your Personal Information is important to us, but remember that no method of
transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee absolute security.
</p>
<h3>Changes To This Privacy Policy</h3>
<p>
This Privacy Policy is effective as of 2019-01-01​ and will remain in effect except with respect to any
changes in its provisions in the future, which will be in effect immediately after being posted on page.
We reserve the right to update or change our Privacy Policy at any time and you should check Privacy Policy periodically. Your continued use of the Service after we post any modifications to Privacy Policy on this page will constitute your acknowledgment of the modifications and your
consent to abide and be bound by the modified Privacy Policy.
If we make any material changes to this Privacy Policy, we will notify you by placing a prominent notice on our website.
</p>
<h3>Contact Us</h3>
<p>
If you have any questions about this Privacy Policy, please contact us (contact form in the footer).
</p>
    
</section>